@use "../../responsive.scss" as *;

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  // background-color: #fcf5f3;
  position: relative;
  z-index: 999;

  .left {
    display: flex;
    align-items: center;
    gap: 10px;

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
      font-size: 20px;
      @include sm {
        display: none;
      }

      img {
        width: 28px;
      }

      span {
        @include md {
          display: none;
        }
        @include sm {
          display: initial;
        }
      }
    }
  }

  /* Desktop Links */
  .center-links {
    display: flex;
    gap: 30px;
    font-weight: 500;

    a {
      padding: 10px 15px;
      transition: all 0.3s ease;

      &:hover {
        color: #fece51;
        scale: 1.05;
      }
    }

    @include sm {
      display: none;
    } // Mobile hide
  }

  .right {
    display: flex;
    align-items: center;
    gap: 15px;

    @include sm {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    a {
      padding: 10px 15px;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      .profile {
        position: relative;
        padding: 10px 15px;
        background-color: #fece51;
        border-radius: 5px;
        @include sm {
          margin-left: 30px;
        }
        .notification {
          position: absolute;
          top: -6px;
          right: -6px;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: red;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
      }
    }

    .register {
      background-color: #fece51;
      border-radius: 5px;
    }

    /* Mobile menu icon */
    .menuIcon {
      display: none;
      cursor: pointer;

      img {
        width: 36px;
        height: 36px;
      }

      @include sm {
        display: block;
      }
    }

    /* Mobile Menu */
    .mobileMenu {
      display: none;
      position: absolute;
      top: 100px;
      right: 0;
      width: 200px;
      background-color: black;
      color: white;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 20px;
      border-radius: 0 0 0 10px;
      transition: all 0.3s ease;

      a {
        color: white;
        font-size: 18px;
        width: 100%;
        text-align: center;
        padding: 10px 0;

        &:hover {
          background-color: #333;
        }
      }

      &.active {
        display: flex;
      }

      @include md {
        display: none;
      }
    }
  }
}
