@use "../../responsive.scss" as *;

.aboutPage {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Segoe UI", sans-serif;

  .hero {
    text-align: center;

    h1 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      color: #555;
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .mission,
  .vision {
    text-align: center;

    h2 {
      font-size: 28px;
      margin-bottom: 15px;
      color: #fece51;
    }

    p {
      font-size: 16px;
      color: #666;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .team {
    h2 {
      font-size: 28px;
      margin-bottom: 20px;
      text-align: center;
      color: #fece51;
    }

    .members {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;

      .member {
        background-color: #fcf5f3;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 15px;
        }

        h3 {
          font-size: 18px;
          margin-bottom: 5px;
        }

        span {
          font-size: 14px;
          color: #888;
        }
      }
    }
  }

  @include md {
    padding: 20px;

    .team .members {
      flex-direction: column;
      align-items: center;
    }
  }
}
